.you-might-like {
  display: flex;
  flex-direction: column;
}

.section-header {
  display: flex;
  flex-direction: row;
  max-width: 1136px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  font-size: 22px;
  line-height: normal;
}

.products-slider {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 100%;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.products-slider::-webkit-scrollbar {
  display: none;
}

@media (max-width: 639px) {
  .you-might-like {
    margin-top: 2191px;
    padding-left: 16px;
    gap: 24px;
  }
  .section-header {
    padding-right: 16px;
  }
  .products-slider {
    gap: 16px;
    height: 400px;
  }
}

@media (min-width: 640px) and (max-width: 1199px) {
  .you-might-like {
    margin-top: 1522px;
    padding-left: 24px;
    gap: 24px;
  }
  .section-header {
    padding-right: 24px;
  }
  .section-title {
    font-size: 32px;
    line-height: 41px;
  }
  .products-slider {
    gap: 16px;
    height: 506px;
  }
}

@media (min-width: 1200px) {
  .you-might-like {
    margin-top: 1800px;
    padding-left: 32px;
    gap: 24px;
  }
  .section-header {
    padding-right: 0;
  }
  .section-title {
    font-size: 32px;
    line-height: 41px;
  }
  .products-slider {
    overflow-x: hidden;
    gap: 16px;
    height: 571px;
  }
}
