.banner-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 48px;
  width: 100%;
  overflow: hidden;
}

.banner-img {
  width: 100vw;
  height: 320px;
  object-fit: cover;
  object-position: left center;
  display: block;
}

.banner-pagination {
  display: flex;
  gap: 8px;
  margin-top: 28px;
  align-self: center;
}

.line {
  width: 40px;
  height: 4px;
  background-color: #e5e7eb;
}

.line.active {
  background-color: rgba(49, 50, 55, 1);
}

@media (min-width: 640px) {
  .banner-container {
    margin-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }

  .banner-wrapper {
    position: relative;
    width: 592px;
    height: 368px;
    background-color: rgba(75, 120, 187, 1);
  }

  .banner-img {
    position: absolute;
    height: 100%;
    width: auto;

    right: -200px;
    top: 0;

    object-fit: contain;
  }
}

@media (min-width: 1200px) {
  .banner-img {
    width: 1136px;
    height: 500px;
  }
}
